[submodule "components/M5core2/M5Core2"]
	path = components/M5Core2/M5Core2
	url = https://github.com/m5stack/M5Core2.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/micro_ros_espidf_component"]
	path = components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component
[submodule "components/FastLED-idf/FastLED"]
	path = components/FastLED-idf/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "components/M5Unit-Scales/M5Unit-Scales"]
	path = components/M5Unit-Scales/M5Unit-Scales
	url = https://github.com/m5stack/M5Unit-Scales.git
